USE [master]
GO
/****** Object:  Database [QuanLyHoatDong_VKIT]    Script Date: 18/06/2026 3:20:06 pm ******/
CREATE DATABASE [QuanLyHoatDong_VKIT]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QuanLyHoatDong_VKIT', FILENAME = N'D:\DatabaseVKIT\QuanLyHoatDong_VKIT.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QuanLyHoatDong_VKIT_log', FILENAME = N'D:\DatabaseVKIT\QuanLyHoatDong_VKIT_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QuanLyHoatDong_VKIT].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QuanLyHoatDong_VKIT]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 18/06/2026 3:20:06 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AnhUuDiems]    Script Date: 18/06/2026 3:20:07 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AnhUuDiems](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MoTaNgan] [nvarchar](1000) NULL,
	[DuongDanAnh] [nvarchar](max) NOT NULL,
	[NgayTao] [datetime2](7) NOT NULL,
	[UuDiemId] [int] NOT NULL,
 CONSTRAINT [PK_AnhUuDiems] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CauHoiThuongGaps]    Script Date: 18/06/2026 3:20:07 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CauHoiThuongGaps](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CauHoi] [nvarchar](500) NOT NULL,
	[TraLoi] [nvarchar](max) NOT NULL,
	[NgayTao] [datetime2](7) NOT NULL,
	[PhanLoai] [int] NOT NULL,
 CONSTRAINT [PK_CauHoiThuongGaps] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChuyenNganh]    Script Date: 18/06/2026 3:20:07 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChuyenNganh](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TenNganh] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DanhSachHocPhi]    Script Date: 18/06/2026 3:20:07 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DanhSachHocPhi](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NganhDaoTao] [nvarchar](max) NOT NULL,
	[ThoiGian] [nvarchar](max) NOT NULL,
	[DonViApDung] [nvarchar](max) NOT NULL,
	[MucHocPhi] [nvarchar](max) NOT NULL,
	[HocPhiGiam25] [nvarchar](max) NOT NULL,
	[HocPhiGiam50] [nvarchar](max) NOT NULL,
	[LaDongPhu] [bit] NOT NULL,
	[HeDaoTao] [nvarchar](20) NULL,
 CONSTRAINT [PK_DanhSachHocPhi] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoatDong]    Script Date: 18/06/2026 3:20:07 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoatDong](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PhanLoai] [int] NOT NULL,
	[TieuDe] [nvarchar](max) NOT NULL,
	[TieuDe2] [nvarchar](max) NULL,
	[MoTaNgan] [nvarchar](500) NULL,
	[NoiDung] [nvarchar](max) NOT NULL,
	[DuongDanAnh] [nvarchar](max) NULL,
	[DuongDanVideo] [nvarchar](max) NULL,
	[NgayTao] [datetime] NULL,
	[NganhId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoatDongChuyenNganh]    Script Date: 18/06/2026 3:20:07 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoatDongChuyenNganh](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ChuyenNganhId] [int] NOT NULL,
	[TieuDe] [nvarchar](max) NOT NULL,
	[TieuDePhu] [nvarchar](max) NULL,
	[NoiDung] [nvarchar](max) NULL,
	[DuongDanAnh] [nvarchar](max) NULL,
	[NgayTao] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoatDongNoiBats]    Script Date: 18/06/2026 3:20:07 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoatDongNoiBats](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MoTa] [nvarchar](1000) NOT NULL,
	[DuongDanAnh] [nvarchar](max) NOT NULL,
	[NgayTao] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_HoatDongNoiBats] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiHocBong]    Script Date: 18/06/2026 3:20:07 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiHocBong](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TenHocBong] [nvarchar](255) NOT NULL,
	[MoTa] [nvarchar](255) NULL,
	[SoSuat] [int] NULL,
	[MauNen] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NganhDaoTao]    Script Date: 18/06/2026 3:20:07 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NganhDaoTao](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TenNganh] [nvarchar](255) NOT NULL,
	[MoTa] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhanLoaiVideos]    Script Date: 18/06/2026 3:20:07 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhanLoaiVideos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TenPhanLoai] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_PhanLoaiVideos] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SinhVienHocBong]    Script Date: 18/06/2026 3:20:07 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SinhVienHocBong](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[LoaiHocBongId] [int] NOT NULL,
	[MaSV] [nvarchar](50) NULL,
	[TenSinhVien] [nvarchar](255) NOT NULL,
	[Lop] [nvarchar](100) NULL,
	[HinhAnh] [nvarchar](max) NULL,
	[NgayNhan] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UuDiems]    Script Date: 18/06/2026 3:20:07 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UuDiems](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TenUuDiem] [nvarchar](200) NOT NULL,
	[NoiDung] [nvarchar](max) NOT NULL,
	[MauNen] [nvarchar](max) NULL,
	[Icon] [nvarchar](max) NULL,
 CONSTRAINT [PK_UuDiems] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Videos]    Script Date: 18/06/2026 3:20:07 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Videos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MoTaNgan] [nvarchar](250) NOT NULL,
	[DuongDanVideo] [nvarchar](max) NOT NULL,
	[NgayTao] [datetime2](7) NOT NULL,
	[PhanLoaiVideoId] [int] NOT NULL,
 CONSTRAINT [PK_Videos] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260525073218_AddBangHocPhi', N'8.0.27')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260602041517_TaoBangVideoMoi', N'8.0.27')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260602062357_TaoBangUuDiem', N'8.0.27')
GO
SET IDENTITY_INSERT [dbo].[AnhUuDiems] ON 

INSERT [dbo].[AnhUuDiems] ([Id], [MoTaNgan], [DuongDanAnh], [NgayTao], [UuDiemId]) VALUES (5, N'new', N'/images/uudiem/c6f6b12f-0eb8-49a8-afe5-67c7e1e0bf08.jpg', CAST(N'2026-06-02T13:49:36.4173980' AS DateTime2), 4)
INSERT [dbo].[AnhUuDiems] ([Id], [MoTaNgan], [DuongDanAnh], [NgayTao], [UuDiemId]) VALUES (6, N'new1', N'/images/uudiem/5c67eec5-2f6b-4924-b5b8-ae8da3bb3ea0.jpg', CAST(N'2026-06-02T13:51:12.1220683' AS DateTime2), 5)
INSERT [dbo].[AnhUuDiems] ([Id], [MoTaNgan], [DuongDanAnh], [NgayTao], [UuDiemId]) VALUES (7, N'new', N'/images/uudiem/13255612-908e-474e-a4b5-bd3919630504.webp', CAST(N'2026-06-02T13:52:26.7002393' AS DateTime2), 6)
SET IDENTITY_INSERT [dbo].[AnhUuDiems] OFF
GO
SET IDENTITY_INSERT [dbo].[CauHoiThuongGaps] ON 

SET IDENTITY_INSERT [dbo].[CauHoiThuongGaps] OFF
GO
SET IDENTITY_INSERT [dbo].[ChuyenNganh] ON 

INSERT [dbo].[ChuyenNganh] ([Id], [TenNganh]) VALUES (1, N'Công nghệ Thông tin')
INSERT [dbo].[ChuyenNganh] ([Id], [TenNganh]) VALUES (2, N'Công nghệ Kỹ thuật Ô tô')
INSERT [dbo].[ChuyenNganh] ([Id], [TenNganh]) VALUES (3, N'Công nghệ Ô Tô Điện')
SET IDENTITY_INSERT [dbo].[ChuyenNganh] OFF
GO
SET IDENTITY_INSERT [dbo].[DanhSachHocPhi] ON 

INSERT [dbo].[DanhSachHocPhi] ([Id], [NganhDaoTao], [ThoiGian], [DonViApDung], [MucHocPhi], [HocPhiGiam25], [HocPhiGiam50], [LaDongPhu], [HeDaoTao]) VALUES (1, N'Tài chính - Ngân hàng', N'3.5 năm ( 14 đợt )', N'20.400.000đ/đợt', N'15.300.000đ/đợt', N'10.200.000đ/đợt', N'5.100.000đ/đợt', 1, N'CN')
INSERT [dbo].[DanhSachHocPhi] ([Id], [NganhDaoTao], [ThoiGian], [DonViApDung], [MucHocPhi], [HocPhiGiam25], [HocPhiGiam50], [LaDongPhu], [HeDaoTao]) VALUES (3, N'Quản Trị Kinh Doanh', N'3.5 năm ( 14 đợt )', N'20.400.000đ/đợt', N'15.300.000đ/đợt', N'10.200.000đ/đợt', N'5.100.000đ/đợt', 1, N'CN')
INSERT [dbo].[DanhSachHocPhi] ([Id], [NganhDaoTao], [ThoiGian], [DonViApDung], [MucHocPhi], [HocPhiGiam25], [HocPhiGiam50], [LaDongPhu], [HeDaoTao]) VALUES (5, N'Digital Marketing', N'3.5 năm ( 14 đợt )', N'20.400.000đ/đợt', N'15.300.000đ/đợt', N'10.200.000đ/đợt', N'5.100.000đ/đợt', 1, N'CN')
SET IDENTITY_INSERT [dbo].[DanhSachHocPhi] OFF
GO
SET IDENTITY_INSERT [dbo].[HoatDong] ON 

INSERT [dbo].[HoatDong] ([Id], [PhanLoai], [TieuDe], [TieuDe2], [MoTaNgan], [NoiDung], [DuongDanAnh], [DuongDanVideo], [NgayTao], [NganhId]) VALUES (32, 3, N'Banner Quảng Cáo', N'', N'', N'Nội dung banner', N'/images/hoatdong/5b4f04d8-f3f3-4cb0-9a75-806d8a9106b4.jpg', N'', CAST(N'2026-05-20T08:22:13.290' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[HoatDong] OFF
GO
SET IDENTITY_INSERT [dbo].[HoatDongChuyenNganh] ON 

INSERT [dbo].[HoatDongChuyenNganh] ([Id], [ChuyenNganhId], [TieuDe], [TieuDePhu], [NoiDung], [DuongDanAnh], [NgayTao]) VALUES (1, 1, N'HUTECH GAMES 2026 – BÓNG ĐÁ NAM VKIT: KHỞI ĐẦU RỰC LỬA!⚽', N'CHÚC MỪNG CHIẾN THẮNG TƯNG BỪNG...', N'<p>Nội dung chi tiết trận bóng...</p>', N'/images/hoatdong/logovkit.jpg', CAST(N'2026-05-27T08:37:51.857' AS DateTime))
INSERT [dbo].[HoatDongChuyenNganh] ([Id], [ChuyenNganhId], [TieuDe], [TieuDePhu], [NoiDung], [DuongDanAnh], [NgayTao]) VALUES (2, 1, N'Giấy xác nhận xin viên', N'j', N'k', N'/images/hoatdong/1f6b3827-7b0d-4058-9c65-1724425af75c.png', CAST(N'2026-05-27T10:20:04.917' AS DateTime))
INSERT [dbo].[HoatDongChuyenNganh] ([Id], [ChuyenNganhId], [TieuDe], [TieuDePhu], [NoiDung], [DuongDanAnh], [NgayTao]) VALUES (3, 2, N'CHÚC MỪNG NĂM MỚI 2026', N'kkkkk', N'j', N'/images/hoatdong/f0ca7d10-efca-405a-9e57-38a60d1c55d3.png', CAST(N'2026-05-27T10:20:22.400' AS DateTime))
SET IDENTITY_INSERT [dbo].[HoatDongChuyenNganh] OFF
GO
SET IDENTITY_INSERT [dbo].[HoatDongNoiBats] ON 

INSERT [dbo].[HoatDongNoiBats] ([Id], [MoTa], [DuongDanAnh], [NgayTao]) VALUES (1, N'TỰ HÀO VKIT-ERS: TỪ CHÀNG TRAI “CỤT YÊU ĐỜI” ĐẾN TẤM VÉ HỌC BỔNG CHÍNH PHỦ HÀN QUỐC (GKS-G) 2026 DANH GIÁ🎓', N'/images/hoatdong/d0565efe-1bc4-44ce-a46c-317aa92eb331.jpg', CAST(N'2026-06-10T10:35:11.1451644' AS DateTime2))
INSERT [dbo].[HoatDongNoiBats] ([Id], [MoTa], [DuongDanAnh], [NgayTao]) VALUES (2, N'CHÚC MỪNG DỰ ÁN "MUN ARTISAN - HỆ SINH THÁI TIẾP THỊ SỐ VÀ E-COMMERCE NÂNG TẦM PHỤ KIỆN KHẢM TRAI TRUYỀN THỐNG" CỦA SINH VIÊN VKIT XUẤT SẮC THẲNG TIẾN VÀO VÒNG BÁN KẾT HUTECH STARTUP WINGS 2026! 🎉', N'/images/hoatdong/7d34c6dd-c590-4694-ba21-114f3037dc8f.jpg', CAST(N'2026-06-10T10:36:52.8717977' AS DateTime2))
INSERT [dbo].[HoatDongNoiBats] ([Id], [MoTa], [DuongDanAnh], [NgayTao]) VALUES (3, N'[TRI ÂN] TẠM BIỆT VÀ CẢM ƠN CÔ HONG HAYOUNG – NGƯỜI TRUYỀN LỬA TỪ XỨ SỞ KIM CHI ', N'/images/hoatdong/d05ea56d-4de8-4aad-8574-04525d0ea5a8.jpg', CAST(N'2026-06-10T10:38:04.0458335' AS DateTime2))
SET IDENTITY_INSERT [dbo].[HoatDongNoiBats] OFF
GO
SET IDENTITY_INSERT [dbo].[LoaiHocBong] ON 

INSERT [dbo].[LoaiHocBong] ([Id], [TenHocBong], [MoTa], [SoSuat], [MauNen]) VALUES (1, N'HỌC BỔNG DU HỌC NƯỚC NGOÀI', N'(03 suất du học toàn phần tại Trung Quốc)', 3, N'#00ccff')
INSERT [dbo].[LoaiHocBong] ([Id], [TenHocBong], [MoTa], [SoSuat], [MauNen]) VALUES (2, N'HỌC BỔNG "SINH VIÊN TÀI NĂNG"', N'(Miễn 100% học phí trong toàn khóa học)', 5, N'#3b71e8')
INSERT [dbo].[LoaiHocBong] ([Id], [TenHocBong], [MoTa], [SoSuat], [MauNen]) VALUES (3, N'HỌC BỔNG "LƯƠNG ĐỊNH CỦA"', N'(Miễn 100% học phí học kỳ I năm nhất)', 50, N'#771a85')
SET IDENTITY_INSERT [dbo].[LoaiHocBong] OFF
GO
SET IDENTITY_INSERT [dbo].[PhanLoaiVideos] ON 

INSERT [dbo].[PhanLoaiVideos] ([Id], [TenPhanLoai]) VALUES (1, N'Video Giới thiệu (Toàn màn hình)')
INSERT [dbo].[PhanLoaiVideos] ([Id], [TenPhanLoai]) VALUES (2, N'Video Danh sách (Ngang ở dưới)')
SET IDENTITY_INSERT [dbo].[PhanLoaiVideos] OFF
GO
SET IDENTITY_INSERT [dbo].[SinhVienHocBong] ON 

INSERT [dbo].[SinhVienHocBong] ([Id], [LoaiHocBongId], [MaSV], [TenSinhVien], [Lop], [HinhAnh], [NgayNhan]) VALUES (1, 1, N'23123', N'Nguyễn Văn A', N'23DTTHH', N'/images/sinhvienhocbong/d99f4a35-bf4c-476f-92a8-c1519d9dd4c9.jpg', CAST(N'2026-05-27T15:37:17.260' AS DateTime))
INSERT [dbo].[SinhVienHocBong] ([Id], [LoaiHocBongId], [MaSV], [TenSinhVien], [Lop], [HinhAnh], [NgayNhan]) VALUES (2, 2, N'2480060000', N'Meoww', N'24DTHHA1', N'/images/sinhvienhocbong/76ae4706-fe68-4cfc-85e4-48e29b356482.jpg', CAST(N'2026-06-18T09:35:20.017' AS DateTime))
SET IDENTITY_INSERT [dbo].[SinhVienHocBong] OFF
GO
SET IDENTITY_INSERT [dbo].[UuDiems] ON 

INSERT [dbo].[UuDiems] ([Id], [TenUuDiem], [NoiDung], [MauNen], [Icon]) VALUES (1, N'Mô hình chuẩn Hàn Quốc', N'Mô hình đào tạo theo tiêu chuẩn các trường đại học Hàn Quốc, quy mô lớp nhỏ (20-30), tăng cường tương tác.', N'#c62828', N'fa-brands fa-buffer')
INSERT [dbo].[UuDiems] ([Id], [TenUuDiem], [NoiDung], [MauNen], [Icon]) VALUES (2, N'Trải nghiệm doanh nghiệp', N'Sinh viên được trải nghiệm doanh nghiệp từ năm 1, có cơ hội việc làm từ năm 2.', N'#006eff', N'fa-brands fa-hotjar')
INSERT [dbo].[UuDiems] ([Id], [TenUuDiem], [NoiDung], [MauNen], [Icon]) VALUES (3, N'Chuyển tiếp du học', N'Được chọn chuyển tiếp để lấy bằng Đại học Hàn Quốc sau 2 năm học tại HUTECH.', N'#ffd500', N'fa-solid fa-plane-departure')
SET IDENTITY_INSERT [dbo].[UuDiems] OFF
GO
SET IDENTITY_INSERT [dbo].[Videos] ON 

INSERT [dbo].[Videos] ([Id], [MoTaNgan], [DuongDanVideo], [NgayTao], [PhanLoaiVideoId]) VALUES (4, N'Viện Công nghệ Việt Hàn – Nơi Khởi Đầu Hành Trình Công Nghệ Và Chinh Phục Tương Lai', N'https://youtu.be/O2ipz1BL-2M', CAST(N'2026-06-09T18:04:35.8529967' AS DateTime2), 1)
INSERT [dbo].[Videos] ([Id], [MoTaNgan], [DuongDanVideo], [NgayTao], [PhanLoaiVideoId]) VALUES (5, N'Nhiều doanh nghiệp và hiệp hội Hàn Quốc đồng hành tại Lễ khai giảng của VKIT HUTECH', N'https://www.youtube.com/watch?v=x7dG5QNip2U', CAST(N'2026-06-09T18:06:08.4334936' AS DateTime2), 2)
INSERT [dbo].[Videos] ([Id], [MoTaNgan], [DuongDanVideo], [NgayTao], [PhanLoaiVideoId]) VALUES (6, N'Chọn VKIT để vững bước, tiến xa trên hành trình sự nghiệp tại các doanh nghiệp Hàn Quốc', N'https://www.youtube.com/watch?v=Tobfpy6iGiY', CAST(N'2026-06-09T18:06:35.7494047' AS DateTime2), 2)
SET IDENTITY_INSERT [dbo].[Videos] OFF
GO
/****** Object:  Index [IX_AnhUuDiems_UuDiemId]    Script Date: 18/06/2026 3:20:07 pm ******/
CREATE NONCLUSTERED INDEX [IX_AnhUuDiems_UuDiemId] ON [dbo].[AnhUuDiems]
(
	[UuDiemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Videos_PhanLoaiVideoId]    Script Date: 18/06/2026 3:20:07 pm ******/
CREATE NONCLUSTERED INDEX [IX_Videos_PhanLoaiVideoId] ON [dbo].[Videos]
(
	[PhanLoaiVideoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CauHoiThuongGaps] ADD  DEFAULT ((0)) FOR [PhanLoai]
GO
ALTER TABLE [dbo].[HoatDong] ADD  DEFAULT ((1)) FOR [PhanLoai]
GO
ALTER TABLE [dbo].[HoatDong] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[HoatDongChuyenNganh] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[LoaiHocBong] ADD  DEFAULT ((0)) FOR [SoSuat]
GO
ALTER TABLE [dbo].[LoaiHocBong] ADD  DEFAULT ('#005b96') FOR [MauNen]
GO
ALTER TABLE [dbo].[SinhVienHocBong] ADD  DEFAULT (getdate()) FOR [NgayNhan]
GO
ALTER TABLE [dbo].[AnhUuDiems]  WITH CHECK ADD  CONSTRAINT [FK_AnhUuDiems_UuDiems_UuDiemId] FOREIGN KEY([UuDiemId])
REFERENCES [dbo].[UuDiems] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AnhUuDiems] CHECK CONSTRAINT [FK_AnhUuDiems_UuDiems_UuDiemId]
GO
ALTER TABLE [dbo].[HoatDong]  WITH CHECK ADD  CONSTRAINT [FK_HoatDong_NganhDaoTao] FOREIGN KEY([NganhId])
REFERENCES [dbo].[NganhDaoTao] ([Id])
GO
ALTER TABLE [dbo].[HoatDong] CHECK CONSTRAINT [FK_HoatDong_NganhDaoTao]
GO
ALTER TABLE [dbo].[HoatDongChuyenNganh]  WITH CHECK ADD  CONSTRAINT [FK_HDCN_ChuyenNganh] FOREIGN KEY([ChuyenNganhId])
REFERENCES [dbo].[ChuyenNganh] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[HoatDongChuyenNganh] CHECK CONSTRAINT [FK_HDCN_ChuyenNganh]
GO
ALTER TABLE [dbo].[SinhVienHocBong]  WITH CHECK ADD  CONSTRAINT [FK_SVHB_LoaiHB] FOREIGN KEY([LoaiHocBongId])
REFERENCES [dbo].[LoaiHocBong] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SinhVienHocBong] CHECK CONSTRAINT [FK_SVHB_LoaiHB]
GO
ALTER TABLE [dbo].[Videos]  WITH CHECK ADD  CONSTRAINT [FK_Videos_PhanLoaiVideos_PhanLoaiVideoId] FOREIGN KEY([PhanLoaiVideoId])
REFERENCES [dbo].[PhanLoaiVideos] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Videos] CHECK CONSTRAINT [FK_Videos_PhanLoaiVideos_PhanLoaiVideoId]
GO
USE [master]
GO
