USE [master]
GO
/****** Object:  Database [QuanLyHoatDong_VKIT]    Script Date: 7/9/2026 3:49:06 PM ******/
CREATE DATABASE [QuanLyHoatDong_VKIT]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QuanLyHoatDong_VKIT', FILENAME = N'D:\DoAnVKIT\QuanLyHoatDong_VKIT.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QuanLyHoatDong_VKIT_log', FILENAME = N'D:\DoAnVKIT\QuanLyHoatDong_VKIT_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QuanLyHoatDong_VKIT].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QuanLyHoatDong_VKIT]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 7/9/2026 3:49:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AnhUuDiems]    Script Date: 7/9/2026 3:49:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AnhUuDiems](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MoTaNgan] [nvarchar](1000) NULL,
	[DuongDanAnh] [nvarchar](max) NOT NULL,
	[NgayTao] [datetime2](7) NOT NULL,
	[UuDiemId] [int] NOT NULL,
 CONSTRAINT [PK_AnhUuDiems] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CauHoiThuongGaps]    Script Date: 7/9/2026 3:49:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CauHoiThuongGaps](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CauHoi] [nvarchar](500) NOT NULL,
	[TraLoi] [nvarchar](max) NOT NULL,
	[NgayTao] [datetime2](7) NOT NULL,
	[PhanLoai] [int] NOT NULL,
 CONSTRAINT [PK_CauHoiThuongGaps] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChuyenNganh]    Script Date: 7/9/2026 3:49:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChuyenNganh](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TenNganh] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DanhSachHocPhi]    Script Date: 7/9/2026 3:49:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DanhSachHocPhi](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NganhDaoTao] [nvarchar](max) NOT NULL,
	[ThoiGian] [nvarchar](max) NOT NULL,
	[DonViApDung] [nvarchar](max) NOT NULL,
	[MucHocPhi] [nvarchar](max) NOT NULL,
	[HocPhiGiam25] [nvarchar](max) NOT NULL,
	[HocPhiGiam50] [nvarchar](max) NOT NULL,
	[LaDongPhu] [bit] NOT NULL,
	[HeDaoTao] [nvarchar](20) NULL,
 CONSTRAINT [PK_DanhSachHocPhi] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoatDong]    Script Date: 7/9/2026 3:49:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoatDong](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PhanLoai] [int] NOT NULL,
	[TieuDe] [nvarchar](max) NOT NULL,
	[TieuDe2] [nvarchar](max) NULL,
	[MoTaNgan] [nvarchar](500) NULL,
	[NoiDung] [nvarchar](max) NOT NULL,
	[DuongDanAnh] [nvarchar](max) NULL,
	[DuongDanVideo] [nvarchar](max) NULL,
	[NgayTao] [datetime] NULL,
	[NganhId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoatDongChuyenNganh]    Script Date: 7/9/2026 3:49:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoatDongChuyenNganh](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ChuyenNganhId] [int] NOT NULL,
	[TieuDe] [nvarchar](max) NOT NULL,
	[TieuDePhu] [nvarchar](max) NULL,
	[NoiDung] [nvarchar](max) NULL,
	[DuongDanAnh] [nvarchar](max) NULL,
	[NgayTao] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoatDongNoiBats]    Script Date: 7/9/2026 3:49:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoatDongNoiBats](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MoTa] [nvarchar](1000) NOT NULL,
	[DuongDanAnh] [nvarchar](max) NOT NULL,
	[NgayTao] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_HoatDongNoiBats] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiHocBong]    Script Date: 7/9/2026 3:49:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiHocBong](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TenHocBong] [nvarchar](255) NOT NULL,
	[MoTa] [nvarchar](255) NULL,
	[SoSuat] [int] NULL,
	[MauNen] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NganhDaoTao]    Script Date: 7/9/2026 3:49:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NganhDaoTao](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TenNganh] [nvarchar](255) NOT NULL,
	[MoTa] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhanLoaiVideos]    Script Date: 7/9/2026 3:49:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhanLoaiVideos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TenPhanLoai] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_PhanLoaiVideos] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SinhVienHocBong]    Script Date: 7/9/2026 3:49:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SinhVienHocBong](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[LoaiHocBongId] [int] NOT NULL,
	[MaSV] [nvarchar](50) NULL,
	[TenSinhVien] [nvarchar](255) NOT NULL,
	[Lop] [nvarchar](100) NULL,
	[HinhAnh] [nvarchar](max) NULL,
	[NgayNhan] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UuDiems]    Script Date: 7/9/2026 3:49:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UuDiems](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TenUuDiem] [nvarchar](200) NOT NULL,
	[NoiDung] [nvarchar](max) NOT NULL,
	[MauNen] [nvarchar](max) NULL,
	[Icon] [nvarchar](max) NULL,
 CONSTRAINT [PK_UuDiems] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Videos]    Script Date: 7/9/2026 3:49:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Videos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MoTaNgan] [nvarchar](250) NOT NULL,
	[DuongDanVideo] [nvarchar](max) NOT NULL,
	[NgayTao] [datetime2](7) NOT NULL,
	[PhanLoaiVideoId] [int] NOT NULL,
 CONSTRAINT [PK_Videos] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [IX_AnhUuDiems_UuDiemId]    Script Date: 7/9/2026 3:49:07 PM ******/
CREATE NONCLUSTERED INDEX [IX_AnhUuDiems_UuDiemId] ON [dbo].[AnhUuDiems]
(
	[UuDiemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Videos_PhanLoaiVideoId]    Script Date: 7/9/2026 3:49:07 PM ******/
CREATE NONCLUSTERED INDEX [IX_Videos_PhanLoaiVideoId] ON [dbo].[Videos]
(
	[PhanLoaiVideoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CauHoiThuongGaps] ADD  DEFAULT ((0)) FOR [PhanLoai]
GO
ALTER TABLE [dbo].[HoatDong] ADD  DEFAULT ((1)) FOR [PhanLoai]
GO
ALTER TABLE [dbo].[HoatDong] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[HoatDongChuyenNganh] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[LoaiHocBong] ADD  DEFAULT ((0)) FOR [SoSuat]
GO
ALTER TABLE [dbo].[LoaiHocBong] ADD  DEFAULT ('#005b96') FOR [MauNen]
GO
ALTER TABLE [dbo].[SinhVienHocBong] ADD  DEFAULT (getdate()) FOR [NgayNhan]
GO
ALTER TABLE [dbo].[AnhUuDiems]  WITH CHECK ADD  CONSTRAINT [FK_AnhUuDiems_UuDiems_UuDiemId] FOREIGN KEY([UuDiemId])
REFERENCES [dbo].[UuDiems] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AnhUuDiems] CHECK CONSTRAINT [FK_AnhUuDiems_UuDiems_UuDiemId]
GO
ALTER TABLE [dbo].[HoatDong]  WITH CHECK ADD  CONSTRAINT [FK_HoatDong_NganhDaoTao] FOREIGN KEY([NganhId])
REFERENCES [dbo].[NganhDaoTao] ([Id])
GO
ALTER TABLE [dbo].[HoatDong] CHECK CONSTRAINT [FK_HoatDong_NganhDaoTao]
GO
ALTER TABLE [dbo].[HoatDongChuyenNganh]  WITH CHECK ADD  CONSTRAINT [FK_HDCN_ChuyenNganh] FOREIGN KEY([ChuyenNganhId])
REFERENCES [dbo].[ChuyenNganh] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[HoatDongChuyenNganh] CHECK CONSTRAINT [FK_HDCN_ChuyenNganh]
GO
ALTER TABLE [dbo].[SinhVienHocBong]  WITH CHECK ADD  CONSTRAINT [FK_SVHB_LoaiHB] FOREIGN KEY([LoaiHocBongId])
REFERENCES [dbo].[LoaiHocBong] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SinhVienHocBong] CHECK CONSTRAINT [FK_SVHB_LoaiHB]
GO
ALTER TABLE [dbo].[Videos]  WITH CHECK ADD  CONSTRAINT [FK_Videos_PhanLoaiVideos_PhanLoaiVideoId] FOREIGN KEY([PhanLoaiVideoId])
REFERENCES [dbo].[PhanLoaiVideos] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Videos] CHECK CONSTRAINT [FK_Videos_PhanLoaiVideos_PhanLoaiVideoId]
GO
USE [master]
GO
